Authlib==0.15.4
certifi==2021.10.8
cffi==1.14.6
charset-normalizer==2.0.6
click==8.0.2
colorama==0.4.4
cryptography==35.0.0
Flask==2.0.2
Flask-ReCaptcha==0.4.2
greenlet==1.1.2
idna==3.2
importlib-metadata==4.8.1
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
mysqlclient==2.0.3
passlib==1.7.4
pycparser==2.20
python-dotenv==0.19.1
requests==2.26.0
SQLAlchemy==1.4.25
typing-extensions==3.10.0.2
urllib3==1.26.7
Werkzeug==2.0.2
zipp==3.6.0