{% extends 'base.html' %}
{% block title %}
Messages
{% endblock %}

{% block nav %}

{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/msg.css') }}">


<div class="container" id="mainbox" >
  <div class="row">
    <div id ="frnd-container" class="col col-2">
      <h2>Friends</h2>
      <div class="grp_box"> <form action="/addfr"><button type="submit" class="btn btn-primary"> + Add Friend</button></form></div>
    </div>
    <div id ="grp-container" class="col col-2">
      <h2>Groups</h2>
      <div class="grp_box"> <form action="/addgrp"><button type="submit" class="btn btn-primary"> + Create Group</button></form></div>
    </div>
  <div class="col col-8">
    <div class="imessage" id="msg-container">
      <p>Select a Group/ Friend to get Started!</p>
    </div>
    <div class="btn-container" >
      <form id="msg">
        <div id="grp_identifier"></div>
          <div class="row">
              <div class="col col-10" id="btn-container">
                <input type="text" class="form-control-lg" id="textbox" placeholder="Type a message here">
              </div>
              <div class="col col-1" id="btn-container">
                <button id="sendmsg" class="btn-border"><img src="https://i.cloudup.com/gBzAn-oW_S-2000x2000.png" class="sendmsgicon"></button>
              </div>
              
          </div>
      </form>
    </div>

</div>
<div id="log">
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="module">
  import { io } from "https://cdn.socket.io/4.3.2/socket.io.esm.min.js";
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/msg.js') }}" ></script>
{% endblock %}