{% extends 'base.html' %}
{% block title %}
Profile
{% endblock %}

{% block nav %}

{% endblock %}

{% block content %}
<body>
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <!-- The Grid -->
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">My Profile</h4>
         <p class="w3-center"><img src="{{ pict }}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
            <p><i class="fa fa-at fa-fw w3-margin-right w3-text-theme"></i><strong>Email</strong>:{{table[0] }}</p>
            <p><i class="fas fa-user-graduate fa-fw w3-margin-right w3-text-theme"></i><strong>Username</strong>:{{table[1] }}</p>
         <p><i class="fa fa-calendar fa-fw w3-margin-right w3-text-theme"></i> <strong>Admission Year</strong>:{{table[2] }} </p>
         <p><i class="fa fa-book fa-fw w3-margin-right w3-text-theme"></i><strong>Branch</strong>:{{table[3] }} </p>
            <p><i class="fas fa-book-reader fa-fw w3-margin-right w3-text-theme "></i><strong>Category</strong>:{{table[4] }} </p>
        </div>
      </div>
      <br>





</div>
{% endblock %}